<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/balance.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="title">Balance</div> 
    <div class="left">
        <div class="profilecont">
            <span class="titled">-- Pay with PayTM --</span><br>
            <form class="amount" method="POST">
                <span class="amounts">Amount:</span><input class="input" name="amount" required><br>
                <span class="amounts">Mobile:</span><input class="input" name="number" id="number" required><br><br>
                <input class="submit" type="submit" value="Submit" id="submit">
            </form>
        </div>
    </div>
    <div class="right">
        <img class="money" src="https://cdn.discordapp.com/attachments/488292692976205826/747670771177881620/money-02.png">
    </div>
    <script src="/js/bal.js">
    </script>
</body>
</html>