<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="left">
        <div class="login">
            <form method="POST">
                <h1 class="title">Login</h1>
                <hr>
                <div class="top">
                <span class="f">Email:</span><input type="email" name="email"><br>
                </div>
                <div class="bottom">
                <span class="f">password:</span><input type="password" name="pass"><br>
                
            </div>
            <div class="last">
            <button class="submit">Submit</button> <br> 
            <a class="register" href="/metro">Register?</a>
            </div>
            </form>
        </div>
    </div>
    <div class="right">
        <img class="img" src="https://cdn.discordapp.com/attachments/430704906169614338/746963513494470666/taptop-03.png">
    </div>
</body>
</html>