<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/pin.css" rel="stylesheet">
    <title>Your pin</title>
</head>
<body>
    <div class="centered">
        <h1>Your Pin Is</h1>
        <hr>
        <p class="pin"><%= pin %></p><br>
        <a class="button" href="/metro/profile">Okay</a>
    </div>
</body>
</html>