<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/register.css" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="left">
        <div class="reg-cont">
            <div class="reg">
                <h1 class="title">Make your Account</h1>
                <hr>
                <form class="inputs" method="POST">

                    <input class="email" type="email" placeholder="Enter Email" id="email" required="true" name="email">
                    <input class="email" type="password" placeholder="Enter password" id="pass" name="password" required="true">
                    <input class="email" type="password" placeholder="Confirm password" id="pass2" required="true" name="password2">
                    <input type="submit" class="submit" value="Submit" id="submit">

                </form>
                <button class="submit" id="next" onclick="nextt()">Next</button>
                    <button class="submit" id="next2" onclick="nextt2()">Next</button>    
                    <br><a class="submit" id="sss" href="/metro/login">or log in?</a>            
            </div>
        </div>
    </div>
    <div class="right">
        <img class="laptop" src="https://cdn.discordapp.com/attachments/430704906169614338/746963513494470666/taptop-03.png">
    </div>

<script src="/js/reg.js"></script>
</body>
</html>